* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --section-one-bg-color: #121214;
  --text-color: #e1e1e6;
  --title-color: #08c05e;
  --form-color: #a8a8a8;
  --bg-button-color: #8257e5;
  --font-spartan: 'League Spartan', sans-serif;
  --font-work: 'Work Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
}

#section-one {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 8px;
  padding-top: 50px;
  background: var(--section-one-bg-color);
}

.logo img {
  width: 389px;
  height: 94px;
  margin-bottom: 92px;
}

.content-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 9px;
  margin-bottom: 60px;
}

.title {
  font-family: var(--font-work);
  font-weight: 700;
  font-size: 27px;
  line-height: 28px;
  color: var(--title-color);
}

.caption {
  font-family: var(--font-spartan);
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #fff;
}

.description {
  font-family: var(--font-spartan);
  font-weight: 400;
  font-size: 17px;
  line-height: 19px;
  color: #fff;
}

.form {
  display: flex;
  position: relative;
}

.border {
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: flex-start;
  border-left: 8px solid var(--title-color);
  height: 60px;
}

.box-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--text-color);
  box-shadow: 15px 15px 15px rgb(37, 27, 44, 0.5);
  position: absolute;
  width: 120%;
}

.form form label {
  display: block;
  padding-top: 15px;
  padding-bottom: 20px;
  color: var(--form-color);
  font-family: var(--font-spartan);
  font-size: 17px;
  font-weight: 700;
}

.custom-email {
  width: 500px;
  height: 60px;
  outline: none;
  background-color: var(--text-color);
  font-family: var(--font-work);
  font-size: 14px;
  font-weight: 400;
  padding-left: 15px;
  border-style: solid;
  border-left: var(--title-color);
  border: #fff;
}

.custom-button {
  width: 60px;
  height: 60px;
  border: 0;
  outline: none;
  padding: 14px;
  background: var(--bg-button-color);
  color: var(--text-color);
  cursor: pointer;

  transition: 0.3s;
}

.custom-button:hover {
  background: #550081;
}

.readme a {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 52px;
  color: var(--bg-button-color);

  font-family: var(--font-spartan);
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 19px;

  text-decoration: none;
  transition: 0.4s;
}

.readme a:hover {
  color: #a900ff;
  text-decoration: underline;
}

#section-two {
  background-image: url('./assets/read_news.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  width: 100vw;
  height: 100vh;
  max-width: 50%;
}

@media (max-width: 830px) {
  .logo img {
    width: 250px;
    height: 54px;
  }
}

@media (max-width: 600px) {
  #section-one {
    max-width: 100%;
    margin: 0 auto;
    padding-right: 20px;
  }

  #section-two {
    max-width: 0%;
  }

  .form {
    margin-right: 5px;
  }

  .box-form {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .logo img {
    width: 200px;
    height: 45px;
  }

  .title {
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
  }

  .caption {
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
  }

  .description {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
  }

  .border {
    height: 50px;
  }

  .custom-email {
    height: 50px;
  }

  .custom-button {
    height: 50px;
  }

  .form form label {
    font-size: 15px;
    font-weight: 700;
  }

  .readme a {
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
  }
}
